<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<section class="blog-section container my-5">
  <h2 class="blog-title text-center mb-4"><b>Últimas publicaciones de blog y noticias</b></h2>
  <div class="row g-4">
    <!-- Publicación 1 -->
    <div class="col-12 col-md-4">
      <div class="blog-card">
        <img src="img1.jpg" alt="Coche adecuado" class="blog-img">
        <h5 class="blog-heading"><b>Cómo Elegir El Coche Adecuado</b></h5>
        <p class="blog-meta">Noticias / 12 abril 2024</p>
      </div>
    </div>
    <!-- Publicación 2 -->
    <div class="col-12 col-md-4">
      <div class="blog-card">
        <img src="img2.jpg" alt="Plan adecuado" class="blog-img">
        <h5 class="blog-heading"><b>¿Qué plan es el adecuado para mí?</b></h5>
        <p class="blog-meta">Noticias / 12 abril 2024</p>
      </div>
    </div>
    <!-- Publicación 3 -->
    <div class="col-12 col-md-4">
      <div class="blog-card">
        <img src="img3.jpg" alt="Velocidad y control" class="blog-img">
        <h5 class="blog-heading"><b>Disfruta de la velocidad, la elección y el control total</b></h5>
        <p class="blog-meta">Noticias / 12 abril 2024</p>
      </div>
    </div>
  </div>
</section>