<div class="grid-vehiculos">
    <div class="tarjeta-vehiculo" *ngFor="let vehiculo of vehiculos">
      <div class="imagen-vehiculo">
        <img [src]="vehiculo.imagen" [alt]="vehiculo.modelo">
      </div>
      <div class="info-vehiculo">
        <div class="nombre-precio-vehiculo">
          <div class="nombre-vehiculo">
            <h3>{{ vehiculo.marca }}</h3>
            <p>{{ vehiculo.modelo }}</p>
            <p class="anio">{{ vehiculo.anio }}</p>
          </div>
          <div class="precio">
            <span class="cantidad">€{{ vehiculo.precio }}</span>
            <span class="por-dia">por día</span>
          </div>
        </div>
        <div class="caracteristicas-vehiculo">
          <div class="caracteristica">
            <i [ngClass]="vehiculo.transmision === 'Manual' ? 'fas fa-cog' : 'fas fa-car'"></i>
            <span>{{ vehiculo.transmision }}</span>
          </div>
          <div class="caracteristica">
          <i [ngClass]="{
            'fas fa-gas-pump': vehiculo.combustible === 'PB 95' || vehiculo.combustible === 'Gasolina',
            'fas fa-industry': vehiculo.combustible === 'Diésel',
            'fas fa-bolt': vehiculo.combustible === 'Eléctrico',
            'fas fa-leaf': vehiculo.combustible === 'Híbrido'
          }"></i>
          <span>{{ vehiculo.combustible }}</span>
          </div>

          <div class="caracteristica">
            <i class="fas fa-snowflake"></i>
            <span *ngIf="vehiculo.aireAcondicionado">A/A</span>
            <span *ngIf="!vehiculo.aireAcondicionado">Sin A/A</span>
          </div>
        </div>
        <button class="boton-detalles">Editar</button>
      </div>

      <button class="boton-flotante-eliminar" (click)="eliminarVehiculo(vehiculo)">
      <i class="fas fa-trash"></i>
    </button>
    </div>
    
  </div>