
.grid-vehiculos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
   margin-top: 50px;
}


.tarjeta-vehiculo {
    position:relative;
  background: #FAFAFA;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imagen-vehiculo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info-vehiculo {
  padding: 15px;
}

.nombre-precio-vehiculo {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.caracteristicas-vehiculo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.caracteristica {
  display: flex;
  align-items: center;
  gap: 8px;
}
.nombre-vehiculo h3{

  font-weight: bold;
}
.precio{
  margin-top: 20px;
display: flex;
flex-direction: column;
align-items: flex-start;
  gap: 2px;
  text-align: left;
  font-size: 1.9em;
  

  font-weight: bold;
  line-height: 1.1;
}
.por-dia{

  font-size: 0.6em;
  color: #000000;
  font-weight: normal;
  margin-top: -5px;

}

.boton-detalles {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #5937E0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.boton-flotante-eliminar {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #5937E0;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  font-size: 1rem;
}