<div *ngIf="esAdmin" class="admin-menu">
  <div class="admin-header">
    <h1 class="admin-title p-3 m-3">Administración de vehículos</h1>
   <div class="organizer-botones p-2 m-2" >
    <ul class="lista">
      <li class="espacio p-2">
        <button class="admin-add-btn" (click)="abrirAgregarTipoVehiculo()">
          <i class="bi bi-plus-circle-fill" style="font-size: 2rem"></i>
          Agregar Tipo Vehículo
        </button>
      </li>
      <li class="espacio p-2">
        <button class="admin-add-btn" (click)="abrirAgregarVehiculo()">
          <i class="bi bi-plus-circle-fill" style="font-size: 2rem"></i>
          Agregar Vehículo
        </button>
      </li>
    </ul>
  </div>
  </div>
  <!--Agregar modal vehiculo-->
  <!-- *ngIf="mostrarFormulario" -->
  <!-- <div class="modal-backdrop" >
    <div class="modal-contenido" >


 (click)="ejecutar()" -->




</div>


  

<app-creart-tipo-vheiculo-admin
  *ngIf="showAgregarModalTipoVheiculo"
  (closeModal)="cerrarAgregarTipoVehiculo()">
</app-creart-tipo-vheiculo-admin>
<app-editar-vehiculo
  *ngIf="showAgregarModal"
  (closeModal)="cerrarAgregarVehiculo()"
></app-editar-vehiculo>
