<div class="contenedor-banner-general">
  <div class="contenedor-banner">
    <div class="container-titulo-descripcion">
      <h1 class="titulo">Concesionario KARHUB</h1>
      <p class="parrafo">Compra o alquiler, tú eliges. Nosotros te ayudamos a encontrar  el coche ideal </p>
    </div>

     <form class="folmulario-banner"[formGroup]="formTipoUbicacion" (ngSubmit)="submit()">
      <h2 class="titulo-formulario-banner">Buscar Vehiculos</h2>

      <div class="folmulario-banner-interior">
         <select class="form-select" aria-label="Tipo de vehiculos" formControlName="selectedOptionV" >
         <option *ngFor="let tipo of tiposVheiculo" [value]="tipo">{{ tipo }}</option>
        </select>

        <select class="form-select" aria-label="ubicacion" formControlName="selectedOptionU" >
         <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion">{{ ubicacion }}</option>
       </select>

      </div>
      <button class="boton-resultado"  type="submit">VER RESULTADO</button>
    </form>
  </div>
</div>












