<div
  class="modal fade show d-block"
  tabindex="-1"
  style="background-color: rgba(0, 0, 0, 0.5)"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>

      <form class="modal-body" [formGroup]="newTipoVheiculoForm">
        <div class="d-flex flex-wrap main-layout">
          <div
            class="left-column flex-grow-1 me-4"
            style="min-width: 180px; max-width: 400px"
          >
            <div class="brand-price mb-4">
              <div class="mb-3">
                <label for="tipoV" class="form-label">Tipo Vheiculo</label>
                <select
                  class="form-select"
                  aria-label="Tipo de vehiculos"
                  formControlName="tipo"
                  required
                >
                  <option *ngFor="let tipo of tipoV" [value]="tipo">
                    {{ tipo }}
                  </option>
                </select>
              </div>

              <div
                class="left-column flex-grow-1 me-4"
                style="min-width: 180px; max-width: 300px"
              >
                <div class="mb-3">
                  <label for="marca" class="form-label">Marca</label>
                  <input
                    type="text"
                    id="marca"
                    name="marca"
                    class="form-control"
                    required
                    formControlName="marca"
                  />
                </div>

                <div class="mb-3">
                  <label for="modelo" class="form-label">Modelo</label>
                  <input
                    type="text"
                    id="modelo"
                    name="modelo"
                    class="form-control"
                    required
                    formControlName="modelo"
                  />
                </div>

                <div class="mb-3">
                  <label for="precio" class="form-label">Precio por día</label>
                  <div class="input-group">
                    <input
                      type="number"
                      id="precio"
                      name="precio"
                      class="form-control"
                      formControlName="precio"
                    />
                    <span class="input-group-text">€/día</span>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="modelo" class="form-label">Imagen</label>
                  <input
                    type="text"
                    id="modelo"
                    name="modelo"
                    class="form-control"
                    formControlName="imagen"
                  />
                </div>
              </div>

              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="close()"
                >
                  Cancelar
                </button>
                <button
                  type="submit"
                  class="btn btn-success"
                  (click)="crearTipoVheiculo()"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
