@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
.hechos-cifras {
  background: #5937E0;
  border-radius: 15px;
  color: white;
}

.hechos-cifras .titulo {
  font-size: 3rem;
  font-weight: 700;
}

.hechos-cifras .descripcion {
  font-size: 16px;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
}

.cifra-box {
  background: white;
  border-radius: 16px;
  padding: 20px 20px; /* Más espacio alrededor */
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.icono-box {
  background: #FF9E0C;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; /* espacio entre icono y texto */
 
}

.img-fondo{
    position: absolute;
    top: 0;
    opacity: 0.1; /* para que no opaque el contenido */
    z-index: 0; 
}
.coche{
    left: 160px;
}
.llanta{
    width: 50%;
}

.hechos-cifras > *:not(.img-fondo) {
  position: relative
}

.texto-box {
  flex: 1;
  padding: 10px 0;
  color: black;
  text-align: left;
}

.texto-box h3 {
  font-size: 1.8rem;
  margin: 0;
  font-weight: 700;
}

.texto-box p {
  margin: 0;
  font-weight: 600;
  color: #8c8c8c;
}

/*COMIENZO DE la SEGUNDA SECCION*/
/* Estilo para la sección general */
.seccion-flota {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Título principal */
.titulo-flota {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1rem;
}

/* Descripción de la flota */
.descripcion-flota {
  color: #6c757d; /* Gris Bootstrap */
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 600;
  
}

/* Imagen de la flota */
.imagen-flota {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  padding-left: 80px;
}
/*COMIENZO DEl TERCER SECCION*/
.card{
  background: #5937E0;
  border-radius: 15px;
  color: white;

}

.llanta2{
    width: 70%;
}
.coche2{
    opacity: 0.2;
}
.titulo{
    
  max-width: 600px;
  margin: 0 auto;
  font-size: 2.9rem;
  font-weight: 700;
}
.descripcion {
  font-size: 16px;
  font-weight: 400;
  max-width: 600px;
  margin: 0 auto;
}