<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<section class="hechos-cifras container my-5 py-5 position-relative">
    <img class="img-fondo coche" src="assets/img/coche.png">
    <img class="img-fondo llanta" src="assets/img/llanta.png">
    <div class="text-center mb-4">
      <h2 class="titulo">Hechos En Cifras</h2>
      <p class="descripcion">Nuestros clientes elogian la atención cercana y profesional, valorando la calidad y la rapidez en cada experiencia.</p>
    </div>

    <div class="row text-center">
      
      <div class="col-md-3 mb-4">
        <div class="cifra-box d-flex">
          <div class="icono-box d-flex align-items-center justify-content-center">
           <i class="bi bi-car-front" style="font-size: 2rem;"></i>
          </div>
          <div class="texto-box d-flex flex-column justify-content-center">
            <h3>540+</h3>
            <p>Vehículos</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="cifra-box d-flex">
          <div class="icono-box d-flex align-items-center justify-content-center">
            <i class="bi bi-person-heart" style="font-size: 2rem;"></i>
          </div>
          <div class="texto-box d-flex flex-column justify-content-center">
            <h3>20k+</h3>
            <p>Clientes</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="cifra-box d-flex">
          <div class="icono-box d-flex align-items-center justify-content-center">
            <i class="bi bi-calendar-check" style="font-size: 2rem;"></i>
          </div>
          <div class="texto-box d-flex flex-column justify-content-center">
            <h3>25+</h3>
            <p>Años</p>
          </div>
        </div>
      </div>

      <div class="col-md-3 mb-4">
        <div class="cifra-box d-flex">
          <div class="icono-box d-flex align-items-center justify-content-center">
            <i class="bi bi-speedometer2" style="font-size: 2rem;"></i>
          </div>
          <div class="texto-box d-flex flex-column justify-content-center">
            <h3>20m+</h3>
            <p>Kilómetros</p>
          </div>
        </div>
      </div>

    </div>
</section>

<!--SEGUNDA SECTION-->
<section class="seccion-flota container py-5">
    <div class="row align-items-center">
      
      <!-- Texto -->
      <div class="col-md-6">
        <h1 class="titulo-flota">La mejor flota de vehículos</h1>
        <p class="descripcion-flota">
          Contamos con una flota diversa e integrada por modelos modernos y confortables que se adaptan a cualquier necesidad. Desde compactos eficientes hasta furgonetas espaciosas, todos nuestros vehículos ofrecen tecnología avanzada, garantizando fiabilidad y bienestar en cada trayecto.
        </p>
      </div>

      <!-- Imagen -->
      <div class="col-md-6">
        <img src="assets/img/Furgonetas.png" alt="Flota de vehículos" class="img-fluid imagen-flota">
      </div>

    </div>
  </section>

  <!--TERCER SECTION-->
<section class="disfruta-kilometros container mt-5 py-5">
    <div class="card mb-3" >
        <div class="row g-0 align-items-center">
            <div class="col-md-7">
                <img class="img-fondo llanta2" src="assets/img/llanta.png">
                <div class="card-body">
                    
                    <h2 class="titulo">Disfruta de cada kilómetro</h2>
                    <p class="descripcion">Convierte cada viaje en un momento memorable 
                        gracias a nuestros vehículos equipados para tu confort. Disfruta del 
                        silencio en la cabina, el rendimiento óptimo en carretera y la confianza 
                        de contar con asistencia permanente. Porque cada kilómetro cuenta, te 
                        acompañamos con calidad y estilo desde el primer hasta el último tramo.</p>
                </div>
            </div>
            <div class="col-md-5">
               <img class="coche2" src="assets/img/coche-frente.webp">
             </div>
              
        </div>
    </div>
</section>