.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 20px;
}

.footer-first-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-logo img {
  max-width: 120px;
}

.footer-contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

.footer-contact img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.footer-contact p {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer-second-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.footer-social img {
  width: 50px; /* Ajusta el tamaño de los iconos */
  height: 50px; /* Ajusta el tamaño de los iconos */
  object-fit: cover;
  margin: 10px;
}

.footer-social a {
  margin: 0 10px;
}

.footer-links,
.footer-brands {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}


.footer-links h3,
.footer-brands h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  text-emphasis:bold;
}

.footer-links ul,
.footer-brands ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-brands li {
  margin: 5px 0;
}

.footer-brands a, .footer-links a, .footer-contact a{
  color: #000;
  text-decoration: none;

}

.footer-brands a:hover,.footer-contact a:hover ,.footer-links a:hover  {
  text-decoration: underline;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
}
