.footer {
  background-color: #ffffff;
  color: #000000;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Primera línea */
.footer-first-line {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 100px;
  margin-bottom: 50px;

}

.footer-logo {
  flex: 1;
  min-width: 200px;
}



.img-logo {
  max-width: 60px;
}
.img-texto {
  max-width: 110px;
  margin-left: 40px;
  margin-top: 4px;
}

.footer-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 220px;
  margin-right: 160px;
}
.footer-contact-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
  line-height: 1.6;
}
.footer-contact-item img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.footer-contact-item a {
  color: #000;
  text-decoration: none;
}
.footer-contact-item a:hover {
  text-decoration: underline;
}

/* Segunda línea */
.footer-second-line {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
  align-items: flex-start;
}




.footer-left {
  flex: 1;
  min-width: 250px;
}
.footer-left h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-social {
  display: flex;
  gap: 10px;
}
.footer-social i {
  font-size: 24px;
  color: white;
  background-color: black;
  border-radius: 50%;
  padding: 10px;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 24px;
}

.footer-center,
.footer-right {
  flex: 1;
  min-width: 200px;
  margin-left: 280px;
}



.footer-links h3,
.footer-brands h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.footer-links ul,
.footer-brands ul {

  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li,
.footer-brands li {
  margin: 6px 0;
}
.footer-links a,
.footer-brands a {
  color: #000;
  text-decoration: none;
}
.footer-links a:hover,
.footer-brands a:hover {
  text-decoration: underline;
}

/* Tercera línea */
.footer-copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
}
