.catalogo-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.titulo {
  margin-bottom: 20px;
}

.filtros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 70px;
  margin-bottom: 50px;
}

.filtro {
  background-color: #eee;
  width: 190px;
  height: auto;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
}

.filtro.activo {
  background-color: #6f42c1;
  color: white;
  font-weight: bold;
}

.contador {
  font-weight: bold;
  margin-left: 6px;
  background-color: #dc3545;
  color: white;
  border-radius: 10px;
  padding: 2px 6px;
  font-size: 0.75rem;
  position: absolute;
  top: 5px;
  right: 10px;
}

.filtro-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-opciones {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-opciones button {
  padding: 10px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 14px;
}

.dropdown-opciones button:hover {
  background-color: #f0f0f0;
}

.dropdown-opciones button.activo {
  background-color: #6f42c1;
  color: white;
  font-weight: bold;
}

.grid-vehiculos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.tarjeta-vehiculo {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.imagen-vehiculo img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info-vehiculo {
  padding: 15px;
}

.nombre-precio-vehiculo {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.nombre-vehiculo h3 {
  font-weight: bold;
}

.precio {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  text-align: left;
  font-size: 1.9em;
  color: #6f42c1;
  font-weight: bold;
  line-height: 1.1;
}

.por-dia {
  font-size: 0.6em;
  color: #000000;
  font-weight: normal;
  margin-top: -5px;
}

.caracteristicas-vehiculo {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.caracteristica {
  display: flex;
  align-items: center;
  gap: 8px;
}

.boton-detalles {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #6f42c1;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
