@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

.container{
  text-align: center;

}
.titulo-seccion h1 {
  margin: 110;
  font-size: 3rem;
  color: #000;
}
a {
  text-decoration: none;
  color: rgb(162, 162, 162);
}

.hero{
  background: #5f3df7;
  border-radius: 26px ;
  color: white;
  font-size: 20px;
}
.formulario-contacto .row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.input-group {
  flex: 1 1 45%; 
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.login-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  visibility: hidden; 
  position: absolute;
  bottom: -1.2rem;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  min-width: 200px;
      
}