@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


/* Estilos para el encabezado */
.titulo-seccion {
  position: relative;
  background-color: #5937E0;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  color: var(--color-texto-claro);
  padding: 6rem 0;
  text-align: center;
  overflow: hidden;
}

.titulo-seccion {
  position: relative;
  z-index: 2;
}

.titulo-seccion h1 {
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  animation: fadeInDown 0.8s ease-out;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 1rem;
  animation: fadeIn 0.8s ease-out;
}

.breadcrumb a {
  color: orange;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5rem;
}

.breadcrumb a:hover {
  color: #f5d15a;
}

.breadcrumb .actual {
  color: var(--naranja-oscuro);
  font-weight: 600;
  padding: 0.5rem;
  animation: pulse 2s infinite;
}

.breadcrumb span {
  margin: 0 10px;
}

/* Animaciones */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    color: var(--naranja-claro);
  }
  100% {
    transform: scale(1);
  }
}


.container{
  text-align: center;

}
.titulo-seccion h1 {
  margin: 110;
  font-size: 3rem;
  color: #000;
}
a {
  text-decoration: none;
  color: rgb(162, 162, 162);
}

.hero{
  background: #5f3df7;
  border-radius: 26px ;
  color: white;
  font-size: 20px;
}
.formulario-contacto .row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.input-group {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.login-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.error-msg {
  color: red;
  font-size: 0.8rem;
  visibility: hidden;
  position: absolute;
  bottom: -1.2rem;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px;
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  min-width: 200px;

}
