<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

<div class="contenedor-principal">
  <div class="reserva-coche">
    <h3>Reserva tu Coche</h3>
    <select>
      <option disabled selected>Tipo de vehículo</option>
      <option>Coche</option>
      <option>Moto</option>
      <option>Furgoneta</option>
    </select>
    <select>
    <option disabled selected>Ubicación</option>
    <option>Álava</option>
    <option>Albacete</option>
    <option>Alicante</option>
    <option>Almería</option>
    <option>Asturias</option>
    <option>Ávila</option>
    <option>Badajoz</option>
    <option>Barcelona</option>
    <option>Burgos</option>
    <option>Cáceres</option>
    <option>Cádiz</option>
    <option>Cantabria</option>
    <option>Castellón</option>
    <option>Ciudad Real</option>
    <option>Córdoba</option>
    <option>Cuenca</option>
    <option>Gerona</option>
    <option>Granada</option>
    <option>Guadalajara</option>
    <option>Guipúzcoa</option>
    <option>Huelva</option>
    <option>Huesca</option>
    <option>Islas Baleares</option>
    <option>Jaén</option>
    <option>La Coruña</option>
    <option>La Rioja</option>
    <option>Las Palmas</option>
    <option>León</option>
    <option>Lérida</option>
    <option>Lugo</option>
    <option>Madrid</option>
    <option>Málaga</option>
    <option>Murcia</option>
    <option>Navarra</option>
    <option>Orense</option>
    <option>Palencia</option>
    <option>Pontevedra</option>
    <option>Salamanca</option>
    <option>Santa Cruz de Tenerife</option>
    <option>Segovia</option>
    <option>Sevilla</option>
    <option>Soria</option>
    <option>Tarragona</option>
    <option>Teruel</option>
    <option>Toledo</option>
    <option>Valencia</option>
    <option>Valladolid</option>
    <option>Vizcaya</option>
    <option>Zamora</option>
    <option>Zaragoza</option>
</select>

    <button>Ver Resultado</button>
  </div>

  <div class="imagen-lateral"></div>
</div>
