@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
body {
  font-family: 'Work Sans', sans-serif;
}

.contacto-container {
  background-color: #fff;
  padding: 30px 15px;
}

.icon {
  width: 40px;
  height: 40px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  color: #555;
}

.info {
  font-size: 16px;
  color: #000;
}
